#connectMetaMask {
  float: right;
  width: 100%;
}

#connectMetaMask button {
  float: right;
  margin: 5px;
  width: 180px;
  height: 40px;
  outline: none;
  font-size: 15px;
  color: #ffffff;
  border-radius: 10px;
  background-color: RoyalBlue;
  border: 3px solid #ffffff;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background: #e06377;
}

.lobby {
  margin: 20%;
  display: grid;
}

.lobby body {
  width: 100vw;
  height: 100vh;
  color: #f9d5e5;
}

.main button {
  margin: 5px;
  padding: 8px;
  width: 225px;
  height: 50px;
  outline: none;
  font-size: 20px;
  color: #f9d5e5;
  border-radius: 20px;
  background-color: #c83349;
  border: 3px solid #f9d5e5;
  font-family: 'Gloria Hallelujah', cursive;
}

.lobby button {
  margin: 5px;
  padding: 8px;
  width: 225px;
  height: 50px;
  outline: none;
  font-size: 20px;
  color: #f9d5e5;
  border-radius: 20px;
  background-color: #c83349;
  border: 3px solid #f9d5e5;
  font-family: 'Gloria Hallelujah', cursive;
}

.lobby header {
  margin: 10px;
  font-size: 35px;
  color: #f9d5e5;
}

.lobby input {
  width: 210px;
  height: 40px;
  margin: 5px;
  border: 3px solid #f9d5e5;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Gloria Hallelujah', cursive;
}

.lobby {
  font-family: 'Gloria Hallelujah', cursive;
  place-items: center;
  text-align: center;
  display: grid;
}