.Container {
  place-items: center;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.Container header {
  margin: 10px;
  font-size: 35px;
  color: #f9d5e5;
}

#size {
  margin: 10px auto 30px;
  outline: none;
  -webkit-appearance: none;
  width: 40vw;
  height: 10px;
  background-color: #f9d5e5;
}

#size::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #c83349;
  border-radius: 50%;
  padding: 5px;
  border: 5px double #f9d5e5;
}

#color::-webkit-color-swatch-wrapper {
  background-color: #c83349;
  border-radius: 20px;
}

#color::-webkit-color-swatch {
  border: none;
  border: 3px solid #f9d5e5;
  border-radius: 20px;
}

#color {
  outline: none;
  background-color: #c83349;
  border: 3px solid #f9d5e5;
  border-radius: 20px;
  margin: 5px;
  height: 35px;
  width: 50px;
}

#eraser {
  outline: none;
  background-color: #c83349;
  color: #f9d5e5;
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid #f9d5e5;
  border-radius: 20px;
  font-size: 15px;
}

.canvas {
  place-items: center;
  margin: auto;
}

.createImage {
  place-items: center;
  margin-top: 30px;
}

canvas {
  border: 10px solid #f9d5e5;
  background-color: white;
}

.Container button {
  outline: none;
  background-color: #c83349;
  color: #f9d5e5;
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid #f9d5e5;
  border-radius: 20px;
  font-size: 15px;
}

.PaintBoard {
  place-items: center;
}